{% extends "base.html" %}
{% block body %}
<div class="row">
    <div class="large-12 columns">
    {% if search %}
    <h1>Words that get the Tweets: {{search}}</h1>   
    {% else %} 
    <h1>Words that get the Tweets</h1>
    {% endif %}
</div>
<form method="POST" action = "" class="form" >
  <div class="row collapse">
    <div class="small-8 columns">
      <input name="search" type="text" placeholder="Enter a word?" />
    </div>
    <div class="small-4 columns">
      <button class="button small" type="submit">Submit</button>
    </div>
      <h4>Sample Values:</h4>
        <p>thanksgiving, world</p>
    </div>
  </div>
</form>
{% if word_score %}
<div class="row">
  <div class="large-12 small-12 columns">
    <h4>{{ search }} Score: {{ word_score }}</h4>
  </div>
</div>
{% endif %}
{% endblock %}
